VITE_BEATSAVER_API_URL=https://api.beatsaver.com
VITE_SCORESABER_API_URL=https://scoresaber.com
VITE_BEATLEADER_API_URL=https://api.beatleader.com
VITE_LUDUS_URL=https://ludus-1.scoresaber.com
VITE_ENABLED_SOURCES=beatsaver,scoresaber,beatleader
